[Desktop Entry]
Type=Application
Name=backuptool (Administrator)
Comment=Backup system and other users' data (asks for the admin password)
Comment[de]=System- und andere Benutzerdaten sichern (fragt nach dem Admin-Passwort)
Exec=backuptool-gui-admin
Icon=backuptool
Terminal=false
Categories=Utility;System;Archiving;
Keywords=backup;root;admin;sudo;
